.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/
.ipynb_checkpoints/

.venv/
venv/
env/

data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

reports/*.pdf
reports/*.png
reports/*.html

*.log
